body {
    background-color:powderblue;
}
.main {
    text-align:center;   
}
.room {
    color:#009900;
    font-size:50px;
    font-weight:bold;
}
#about {
    font-style:bold;
    font-size:20px;
}
